.section1{
    max-width: 1520px;
    margin: 0 auto;
    background-image: url("..//Assets_Netuno/bannertopo.png");
    background-repeat: no-repeat;
    background-position: -256px;
    height: 1000px;
    /*
    padding-left: 912px;
    padding-top: 41px;
    */
}
/*
.container{
    max-width: 1440px;
    margin: 0 auto;
}
*/




