
.conteudo_total{

/*  overflow: hidden;*/
padding-left: 912px;
padding-top: 41px;
height: 100%;
}

.retangulo{
    border-radius: 12px;
    border: 1px solid #58C5E6;
    background-color: white;
    position: relative;
    width: 405px;
    height: 729px;
    margin-top:10px ;

    h2{
    padding-top: 31px;
    margin-left: 39px;    
    color: #CECECE;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    p{
        margin-top: 14px;
        margin-bottom: 16px;
        margin-left: 39px;    
        color: #1A7FBD;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: normal;
    }
}
.vetor_branco{
    position: absolute;
    right: -213px;
    bottom: 74px;
}
.image {
    position: absolute;
    top: -10px;
    right: -10px;
}
.image2 {
    position: absolute;
    bottom: -15px;
    left: -10px;
}
.formulario{
    position: relative;
}
.ipunt_white{
    margin-left: 25px;
    border-radius: 6px;
    border: 1px solid #CECECE;
    background: #FBFBFB;
    width: 356px;
    height: 40px;
    margin-top: 10px;
    background-position: 1em;
    background-size: 1.3em;
    padding-left: 4em;
    background-repeat: no-repeat
}

.select-container {
    display: flex;
    align-items: center;
    width: 354px;
    margin-left: 3px;
}
  
  .left-image {
    width: 13px; 
    height: 13px;
    margin-left: 10px;
    margin-right: 16px;

}
  
.custom-select {
    color: gray;
    font-weight: normal;
    appearance: none;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    background-image: url('Vector.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    font-size: 14px;
}
.astazul{
  color: #1A7FBD;
}



  #select_estados {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; 
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 5px;
}
  
  .borda{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 32px;
    border-radius: 6px;
    border: 1px solid #CECECE;
    background: #FBFBFB;
    width: 356px;
    height: 40px;
}


.input-wrapper {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 25px;
}
#firstName{
  background-image: url("..//Assets_Netuno/icones/user.png");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 13px 15px;
}
#email{
  background-image: url("..//Assets_Netuno/icones/mail.png");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 14px 11px;
}
.input-wrapper input {
  position: relative;
  z-index: 2;
  padding-left: 45px;
    border-radius: 6px;
    border: 1px solid #CECECE;
    background: transparent; 
    width: 356px;
    height: 40px;
  }
  
  .input-wrapper input:valid + .placeholder {
    display: none;
  }
  
  .input-wrapper .placeholder { 
    position: absolute;
    top: 9px;
    left: 17px;
  }
  
  .input-wrapper .placeholder::before {
    padding-left: 30px;
    content: attr(data-placeholder);
    color: #A0A0A0;
    font-size: 14px;
  }
  
  .input-wrapper .placeholder::after {
    content: " *";
    color: #1A7FBD;
  }
  .img_linha{
    z-index: -1;
  }
  .azul{
    margin: 0 -1px;
    background-color:  #1A7FBD;
    width: 405px;
    height: 170px;
}

.form{
  input{
    display: none;
  }
  h3{
    color: #FFF;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 17px;
  }
  padding-top: 24px;
  padding-bottom: 29px;
  padding-left: 29px;
  position: relative;
  label{
    color: white;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
    margin-bottom: 17px;
  }
}
.form input + label:before{
  content: '';
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
  border-radius: 3px;
  outline: 1px solid white;
}
.form input:checked + label:before{
width: 15px;
height: 15px;
background-color: white;
border: 3px solid rgba(255, 255, 255, 0);
background-clip: padding-box;
outline: 1px solid white;
}
.conteudo_s_n{
  width: max-content;
  display: flex;
  margin-left: 13px;
}
.custom-radio{
  width: max-content;
  margin-bottom: 31px;
  label{
    margin-left: 25px;
  }
}
.trabalho{
  input.soun{
    display: none;
  }
  position: relative;
  p{
    font-size: 14px;
  }
  width: 405px;
  height: 729px;
  label{
    color: #A0A0A0;
    font-size: 14px;
  }
}

.trabalho input + label:before{
  content: '';
  width: 15px;
  height: 15px;
  background-color: #FFF ;
  border: 2px solid #1a7fbd;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
  border-radius: 3px;
}
.trabalho input:checked + label:before{
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9.15527e-05' width='9' height='9' rx='1' fill='%231A7FBD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat ;
  background-position: center center;
}

.linha_cinza{
background-image: url("..//Line\ 1.png");
width: 356px;
height: 1px;
margin: 0 auto;
}

.obri{
  text-align: center;
  font-size: 10px;
  color: #1A7FBD;
  margin-bottom: 27px;
  margin-top: 10px;
}
.enviar{
  width: max-content;
  margin: 0 auto;
}
.botao_enviar{
  color: #FFF;
  font-size: 18px;
  border: none;
  width: 356px;
  height: 50px;
  border-radius: 6px;
  background: #1A7FBD;
} 


.input-container {
    position: relative;
    margin-left: 25px;
    margin-bottom: 32px;
    width: 200px;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #C3C3C3;
}
.input-label:after {
    content: ' *';
    color: #1A7FBD;
}

.input-field, .input-select{
    width: 354px;
    padding: 10px;
    padding-left: 47px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-appearance: none; /* Ocultar a seta no Safari */
    background-image: url('state.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 13px 13px;
}
.input-field:focus + .input-label,
.input-field:valid + .input-label,
.input-select:focus + .input-label,
.input-select:valid + .input-label {
  
    display: none;
}

/* Estilizar seta personalizada */
.custom-select-container {
    position: relative;
}
.custom-select-arrow {
    position: absolute;
    right: -144px;
    top: 25%;
    pointer-events: none;
}
.custom-select-arrow::before {
    content: url('Vector.svg');
}
.input-label{
    font-size: 14px;
    color: #A0A0A0;
}
option{
  font-size: 14px;
  color: #A0A0A0;
  background-color: #FBFBFB;; 
}
