@media (max-width:768px){
  body{
  margin: 0 auto;
  }
  header{
  width: 320px;
  display: flex;
  flex-direction: column;
}
.conteudo_total {
  padding-left: 0px;
  padding-top: 41px;
  height: 100%;
}
}